*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Oswald, sans-serif;
  font-size: 14px;
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
img {
  max-width: 100%;
}
.footer {
  margin-top: auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 30px 0;
}
.main-screen {
  padding: 190px 0 320px;
  background: url(../img/main-screen-bg.jpg) no-repeat top/cover;
  position: relative;
  margin-bottom: 200px;
}
.main-screen__subtitle,
.main-screen__title {
  text-align: center;
  text-transform: uppercase;
}
.main-screen__title {
  font-weight: 500;
  font-size: 64px;
}
.main-screen__subtitle {
  font-size: 18px;
}
.main-screen__table {
  position: absolute;
  bottom: -151px;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
  padding: 57px 130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1110px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .main-screen__table {
    padding: 10px;
  }
}
.main-screen__item h6,
.main-screen__item p {
  font-weight: 500;
  text-align: center;
}
.main-screen__item h6 {
  font-size: 36px;
  color: #000;
}
.main-screen__item p {
  font-size: 18px;
  color: #999;
}
.main-screen__number {
  font-weight: 500;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #f7654a;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 200px 0;
}
.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
}
.gallery__item:hover .gallery__overlay {
  opacity: 1;
}
.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
}
.gallery__btn {
  cursor: pointer;
}
body {
  font-size: 50px;
}
body h1 {
  font-size: 44px;
}
